<%- include('includes/header') %>
<script>
	if("<%= access.includes(user)%>" == "false")
	{
		window.location.replace("/home");
	}
</script>
<div id="project">
	<div class="col-md-12">
		<ul class="nav nav-tabs">
			<li class="nav-item">
				<a class="nav-link active" href="/projectV?IDX=<%= IDX %>" style="border-radius: 0;">Labels</a>
			</li>
		</ul>
	</div>
	<div class="col-md-12">
		<h1 style="text-align: center;"><%= PName %></h1>
	</div>
	<div class="form-group col-md-2">
		<label for="page">Page:</label>
		<input type="number" id="page" name="page" min="1" max="<%=pages%>" value="<%=Number(current)%>" style="width: 25%;">

		<label for="perpage">PerPage:</label>
		<input type="number" id="perpage" name="perpage" min="1" value="<%=perPage%>" style="width: 25%;">
		
		<label for="sort">Sort By:</label>
		<div>
			<select name="Filter" id="filter">
				<option>Choose Filter</option>
				<option value="null">Reset Filter</option>
				<option value="needs_review">Needs Review</option>
			</select>
			<select name="classFilter" id="classFilter">
				<option>Choose Class</option>
				<option value="null">Reset Filter</option>
				<% for(var f=0; f<projectClasses.length; f++) {%>
					<option><%= projectClasses[f]%></option>
				<% } %>
			</select>
		</div>

		<form class="Batch Change" action="/batch-change-class" enctype="multipart/form-data" id="batch-change-class">
			<label for="batchchange">Batch Change Classes</label>
			<div>
				<select name="class1" id="batchclass1">
					<% for(var f=0; f<projectClasses.length; f++) {%>
						<option><%= projectClasses[f] %></option>
					<% } %>
				</select>
				<label>to</label>
				<select name="class2" id="batchclass2">
					<% for(var f=0; f<projectClasses.length; f++) {%>
						<option><%= projectClasses[f] %></option>
					<% } %>
				</select>
				<button id="batchbttn" type="submit" class="btn btn-primary btn-lg" value="submit" style="border-radius: 0">Change</button>
			</div>
		</form>


	</div>
	<div class="col-md-12">
		<table class="table table-striped">
			<thead class="thead-dark" style="width: 100%;">
				<tr>
					<th scope="col">Image Name</th>
					<th></th>
					<th class="text-center" scope="col">Classes</th>
					<th></th>
					<th class="text-center" scope="col">Number of Labels</th>
					<th class="text-right" scope="col"></th>
				</tr>
			</thead>
			<tbody>
				<% for(var i=0; i<images.length; i++) {%>
				<tr>
					<td scope="row"><a href="/labelingV?IDX=<%= IDX %>&IName=<%= images[i].IName %>&sort=<%= sortFilter %>&class=<%= imageClass %>"><%= images[i].IName %></a></td>
					<!-- input checkbox for review here -->
					<% if(images[i].reviewImage != 0) {%>
						<td class="text-right"><h4 style="border-radius: 0; color: red;">Needs Review</h4></td>
					<%} else {%>
						<td></td>
					<% } %>

					<% if(classes[i].length > 0) {%>
						<td class="text-center">
						<% for(var f=0; f<classes[i].length; f++) {%>
						<a><%= classes[i][f] %></a>
						<% } %>
						</td>
					<%} else {%>
						<td class="text-center">None</td>
					<% } %>
					<td></td>
					<td class="text-center"><%= list_counter[i] %></td>
					<td class="text-right"><a class="btn btn-primary" href="/labelingV?IDX=<%= IDX %>&IName=<%= String(images[i].IName) %>&sort=<%= sortFilter %>&class=<%= imageClass %>" role="button" style="border-radius: 0">Label</a></td>
				</tr>
				<% } %>
			</tbody>
		</table>
	</div>
	<div class="col-md-12">
		<% if (pages > 0) { %>
		<nav aria-label="Page navigation example">
			<ul class="pagination justify-content-center">
				<% if (current == 1) { %>
				<li class="page-item disabled">
					<a class="page-link" href="#" tabindex="-1">First</a>
				</li>
				<% } else { %>
				<li class="page-item">
					<a class="page-link" href="/projectV?IDX=<%= IDX %>&page=1&perPage=<%= perPage %>&sort=<%= sortFilter %>&class=<%= imageClass %>" tabindex="-1">First</a>
				</li>
				<% } %>
				<% var i = (Number(current) > 6 ? Number(current) - 5 : 1) %>
				<% var j = i+9 %>
				<% if (i !== 1) { %>
					<li class="page-item disabled">
						<a class="page-link">...</a>
					</li>
				<% } %>
				<% for (; i <= j && i <= pages; i++) { %>
					<% if (i == current) { %>
						<li class="page-item active">
							<a class="page-link" href"#"><%= i %></a>
						</li>
					<% } else { %>
						<li class="page-item">
							<a class="page-link" href="/projectV?IDX=<%= IDX %>&page=<%= i %>&perPage=<%= perPage %>&sort=<%= sortFilter %>&class=<%= imageClass %>"><%= i %></a>
						</li>
					<% } %>
					<% if (i == j && i < pages) { %>
						<li class="page-item disabled">
							<a class="page-link" href="#">...</a>
						</li>
					<% } %>
				<% } %>
				<% if (current == pages) { %>
					<li class="page-item disabled">
						<a class="page-link" href"#">Last</a>
					</li>
				<% } else { %>
					<li class="page-item">
						<a class="page-link" href="/projectV?IDX=<%= IDX %>&page=<%= pages %>&perPage=<%= perPage %>&sort=<%= sortFilter %>&class=<%= imageClass %>">Last</a>
					</li>
				<% } %>
			</ul>
		</nav>
		<% } %>
	</div>
</div>

<script>
	var pgnum = document.getElementById("page");
	pgnum.oninput = function(){
		console.log("pgnum oninput");
		console.log("pgnum: ", pgnum.value)
		if(pgnum.value > 0 && pgnum.value <= "<%=pages%>")
		{
			
			window.location.href = `/projectV?IDX=<%= IDX %>&page=${pgnum.value}&perPage=<%=perPage%>&sort=<%= sortFilter %>&class=<%= imageClass %>`;
		}
	}
</script>
<script>
	var perpage = document.getElementById("perpage");
	perpage.oninput = function(){
		if(perpage.value > 0)
		{
			window.location.href = `/projectV?IDX=<%= IDX %>&page=<%=pages%>&perPage=${perpage.value}&sort=<%= sortFilter %>&class=<%= imageClass %>`;
		}
	}
</script>

<script>
    document.getElementById('classFilter').addEventListener('change', function() {
        var selectedOption = this.options[this.selectedIndex];

        var selectedClass = selectedOption.value;
		var selectedFilter = "null";
		if ("<%= sortFilter %>" != 'needs_review'){
			selectedFilter = "<%= sortFilter %>"
		}

        var url = "http://localhost:8081/projectV?IDX=<%= IDX %>&page=1&perPage=10&sort=" + selectedFilter + "&class=" + selectedClass;

        // Navigate to the URL
        window.location.href = url;
    });
	document.getElementById('filter').addEventListener('change', function() {
        var selectedOption = this.options[this.selectedIndex];

        var selectedFilter = selectedOption.value;
		var selectedClass = "null";
		if (selectedFilter != 'needs_review'){
			selectedClass = "<%= imageClass %>";
		}

        var url = "http://localhost:8081/projectV?IDX=<%= IDX %>&page=1&perPage=10&sort=" + selectedFilter + "&class=" + selectedClass;

        // Navigate to the URL
        window.location.href = url;
    });


	document.forms['batch-change-class'].addEventListener('submit', (event) => {
		event.preventDefault();
		console.log('batch class change handler');

		if(!confirm("Are you Sure")){
			return;
		}

		var formData = new FormData();
		formData.append("PName", "<%= PName %>");
		formData.append("Admin", "<%= Admin %>");

		formData.append("class1", document.getElementById("batchclass1").value)
		formData.append("class2", document.getElementById("batchclass2").value)

		fetch(event.target.action, {
			method: 'POST',
			body: formData 
		}).then((resp) => {
			return resp.json();
		}).then((body) => {
			console.log(body);

			alert(body.Success);
			window.location.reload();
  
		}).catch((error) => {
			console.log(error);
		});
	});
</script>

<%- include('includes/footer') %>

