<%- include('includes/header') %>
<script>
	if("<%= access.includes(user)%>" == "false")
	{
		window.location.replace("/home");
	}
</script>
<div id="config">
	<div class="col-md-12">
		<ul class="nav nav-tabs">
			<li class="nav-item">
				<a class="nav-link" href="/projectV?IDX=<%= IDX %>&page=1&perPage=10" style="border-radius: 0">Labels</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/configV?IDX=<%= IDX %>" style="border-radius: 0">Configuration</a>
			</li>
			<li class="nav-item">
				<a class="nav-link active" href="/statsV?IDX=<%= IDX %>" style="border-radius: 0">Stats</a>
			</li>
		</ul>
	</div>
	<div class="col-md-12">
		<h1 style="text-align: center;"><%= PName %></h1>
		<h1 style="text-align: center;">Review Progress: <%= complete%>%	</h1>
	</div>
	<div class="col-md-4 text-center">
		<table class="table table-striped text-center" style="margin-left: 107%;">
			<thead class="thead-dark" style="width: 100%;">
				<tr>
					<th scope="col">Class Name</th>
					<th></th>
					<th class="text-center" scope="col">Number of Labels</th>
					<th class="text-center" scope="col">Number of Images</th>
				</tr>
			</thead>
			<tbody>
				<% for(var i=0; i<classes.length; i++) {%>
				<tr>
					<td scope="row"><%= classes[i] %></td>
					<td></td>
					<td class="text-center" style="text-align: center;"><%= counts[i] %></td>
					<td class="text-center" style="text-align: center;"><%= icounts[i] %></td>
				</tr>
				<% } %>
			</tbody>
		</table>
	</div>
</div>
<%- include('includes/footer') %>
